<div id="alinhaTabela">
  <div class="row">
    <%= image_tag("/img/paciente.png") %>
    <div style="margin-top: 40px">
      <h1 id="p">Pacientes</h1>
    </div>
  </div>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>NOME</th>
        <th>CPF</th>
        <th>TELEFONE</th>
        <th>OPÇÕES</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.cpf %></td>
        <td><%= patient.telefone %></td>
        <td><%= link_to 'Visualizar', patient %>
          <%= link_to 'Editar', edit_patient_path(patient) %>
          <%= link_to 'Deletar', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Cadastrar Paciente', new_patient_path, class: 'btn btn-success' %>
  </div>
