<br><br>
<div class='form-inline'>

  <div class='col-sm-4' style="text-align: center">
    <a href="/patients">
      <%= image_tag("/img/paciente.png") %>
    </a>
    <h3 id="home"> Pacientes </h3>
  </div>

  <div class='col-sm-4' style="text-align: center">
    <a href="/queries">
      <%= image_tag("/img/agenda.png") %>
    </a>
    <h3 id="home"> Agenda </h3>
  </div>
  <div class='col-sm-4' style="text-align: center">
    <a href="/specialists">
      <%= image_tag("/img/especialista.png") %>
    </a>
    <h3 id="home"> Especialista </h3>
  </div>
</div>
<br><br>

<div class='form-inline'>
  <div class='col-sm-4' style="text-align: center">
    <a href="/escolherPaciente">
      <%= image_tag("/img/exame.png") %>
    </a>
    <h3 id="home"> Exames </h3>
  </div>

  <div class='col-sm-4' style="text-align: center">
    <a href="/specialties">
      <%= image_tag("/img/especialidade.png") %>
    </a>
    <h3 id="home"> Especialidade </h3>
  </div>

  <div class='col-sm-4' style="text-align: center">
    <a href="/escolherPacienteAgenda">
      <%= image_tag("/img/agenda.png") %>
    </a>
    <h3 id="home"> Agenda Paciente </h3>
  </div>
</div>
