<div id="alinhaTabela">
  <br>
  <div class="row">
    <%= image_tag("/img/especialidade.png") %>
    <div style="margin-top: 40px">
      <h1 id="p">Especialidade</h1>
    </div>
  </div>
  <br>
  <table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specialties.each do |specialty| %>
      <tr>
        <td><%= specialty.name %></td>
        <td><%= link_to 'Editar', edit_specialty_path(specialty) %></td>
        <td><%= link_to 'Deletar', specialty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Especialidade', new_specialty_path, class: 'btn btn-success'%>
