<div id="alinhaTabela">
  <br>
  <h2 id="p"> Dados do Especialista </h2>
  <br>
  <div class="row">
    <div class="form-group col-lg-5">
      <strong>Nome:</strong>
      <input type="text" class="form-control" name="endereco" value="<%= @specialist.name %>" disabled>
    </div>
  </div>
  <div class="row">

    <div class="form-group col-lg-3">
      <strong>Telefone:</strong>
      <input type="text" class="form-control" name="endereco" value="<%= @specialist.phone %>" disabled>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-3">
      <strong>Especialidade:</strong>
      <input type="text" class="form-control" name="endereco" value="<%= @specialist.specialty["name"] %>" disabled>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-5">
      <%= link_to 'Editar', edit_specialist_path(@specialist), class: "btn btn-primary" %>
      <%= link_to 'Voltar', specialists_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
