
<%= simple_form_for(@query) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :date, label: "Data e Hora:", input_html: { class: 'class="form-group col-lg-2'}, end_year: Date.today.year - 0, start_year: Date.today.year%>
    <%= f.input :status, label: "Status:", input_html: { class: 'class="form-group col-lg-4' }%>
    <%= f.input :note, label: "Observação:", input_html: { class: 'class="form-group col-lg-4' }%>
    <%= f.association :patient, label: "Paciente:", input_html: { class: 'class="form-group col-lg-5'}%>
    <%= f.association :specialist, label: "Especialista", input_html: { class: 'class="form-group col-lg-5'}%>

  <div class="form-actions">
    <%= f.button :submit, "Agendar", class: 'btn btn-success' %>
    <%= link_to 'Voltar', queries_path, class: 'btn btn-primary' %>
  </div>
<% end %>
